@model CreateProductDto

@{
    ViewData["Title"] = "Yeni Ürün Ekle";
}
<div class="container-fluid px-4">
    <h1 class="mt-4">@ViewData["Title"]</h1> @*mt-4  üstten margin(boşluk) ekler*@
    <ol class="breadcrumb mb-4">
        @*mb-4  alttan margin(boşluk) ekler*@
        <li class="breadcrumb-item"><a asp-controller="Main" asp-action="Index">Dashboard</a></li>
        <li class="breadcrumb-item">
            <a asp-controller="Products" asp-action="Index">Ürünler</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ol>

    <div class="card mb-4">
        @* card header *@
        <div class="card-header">
            <i class="fas fa-user-plus me-1"></i>
            Yeni Ürün Formu
        </div>
        @* card body (form kısmı)*@
        <div class="card-body">
            <form asp-controller="Products" asp-action="Create" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="All" class="text-danger mb-3"></div>
                @* dış tehditlere karşı koruma  *@
                @Html.AntiForgeryToken()
                <div class="mb-3">
                    <label asp-for="Name" class="form-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Description" class="form-label"></label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Price" class="form-label"></label>
                    <input asp-for="Price" class="form-control" type="number" step="0.01"/>
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Stock" class="form-label"></label>
                    <input asp-for="Stock" class="form-control" type="number"/>
                    <span asp-validation-for="Stock" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="SKU" class="form-label"></label>
                    <input asp-for="SKU" class="form-control"/>
                    <span asp-validation-for="SKU" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="SubcategoryId" class="form-label"></label>
                    <select asp-for="SubcategoryId" asp-items="ViewBag.Subcategories" class="form-select">
                        <option value="">---Alt Kategori Seçiniz---</option>
                    </select>
                    <span asp-validation-for="SubcategoryId" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="imgFile" class="form-label">Ürün Resmi Yükleyin</label>
                    <input name="imgFile"  type="file" class="form-control" />
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-save"></i>
                    Kaydet
                </button>
                <a class="btn btn-secondary" asp-controller="Products" asp-action="Index">
                    <i class="fas fa-times"></i>
                    İptal
                </a>
            </form>
        </div>
    </div>
</div>
